<div id ="header">

<h1> <img src ='/images/logo.png' id ='main-app-logo'> </h1>

<div id ="navbar">

<ul>

<li>
	<a href ="/">Home </a>
</li>
<li>
	<a href ="/cart"> Cart </a>
</li>
<li>
	<a href ="/thesis/user"> Thesis </a>
</li>

{{#if isUserLoggedIn}}

<li>
	<a href ="/profile">Profile </a>
</li>

{{/if}}

{{#if isUserLoggedIn}}

<li>
	<a href ="/sign-out">Sign out </a>
</li>

{{/if}}

{{#unless isUserLoggedIn}}

<li>
	<a href ="/sign-in">Sign in </a>
</li>

{{/unless}}

{{#unless isUserLoggedIn}}

<li>
	<a href ="/sign-up">Sign up </a>
</li>

{{/unless}}

</ul>

</div>

</div>

